@model AccountLoginVm
@{
    ViewData["Title"] = "Zaloguj się";
}

<div class="wrapper">
    <h1>Zaloguj się</h1>
    <form asp-action="Login">
        <section>
            <label asp-for="Email"></label>
            <input asp-for="Email" placeholder="pracownik@ebocian.pl" />
        </section>
        <span asp-validation-for="Email"></span>
        <section>
            <label asp-for="Password"></label>
            <input asp-for="Password" />
        </section>
        <span asp-validation-for="Password"></span>
        <div asp-validation-summary="ModelOnly"></div>
        <section>
            <input class="button" type="submit" value="Zaloguj się" />
        </section>
    </form>
</div>
