@{
    ViewBag.Title = "Game";
}

<div class="center">
    <h2 class="counter"> Guess attempts: @ViewBag.Attempt &emsp;&emsp;Range: [0,@ViewBag.Range)</h2>
    <h1 class=@ViewBag.Class> @ViewBag.Message</h1>
    <h3> @ViewBag.GuessedAfter</h3>
</div>
