<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | eBocian</title>
    <link rel="icon" href="~/static/favicon.svg" type="image/svg+xml">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/static/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/global.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bocian.styles.css" asp-append-version="true" />
</head>
<body>
    <partial name="_Navbar" />
    <main>@RenderBody()</main>
    <partial name="_Footer" />
    @await RenderSectionAsync("Scripts", required: false)
    @if (TempData["Dialog"] is string dialogText)
    {
        <dialog id="dialog">
            <p>@dialogText</p>
            <form method="dialog">
                <button class="button">Ok</button>
            </form>
        </dialog>
        <script>document.getElementById("dialog").showModal();</script>
    }
</body>
</html>
